.nav {
    --header-height: 60px;
    --padding-width: 32px;
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0 var(--padding-width);
    width: calc(100vw - (var(--padding-width) * 2));
    height: var(--header-height);
    justify-content: space-between;
    color: white;
    background-color: black;
}

.navOptions {
    --navOptions-position: 16px;
    position: absolute;
    bottom: calc(-100vh + var(--header-height) + var(--navOptions-position));
    right: var(--navOptions-position);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.navOption {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    background-color: black;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.icon {
    font-size: 32px;
}

.logo {
    font-weight: 600;
    font-size: 20px;
}